<div class="row slide_2">
    <div class="col-md-12">
        <nb-card class="col-md-12 col-lg-12" [nbSpinner]="loading" nbSpinnerStatus="info" nbSpinnerSize="medium">
            <nb-card-header>
                <div class="clearfix" *ngIf="factura">
                    <p class="h6 float-left" *ngIf="folio !== '*'">
                        Solicitud No {{ factura?.folio }}
                      </p>
                      <p *ngIf="folio == '*'" class="h6 float-left">Solicitud Pre Cfdi</p>
                      <nt-invoice-status
                        class="float-right"
                        *ngIf="!!factura?.statusFactura"
                        [status]="factura.statusFactura"
                      >
                      </nt-invoice-status>
                    <!--span class="badge badge-primary" style="margin-left: 10px" *ngIf="factura">{{ factura.statusFactura
                        }}</span>
                    <button nbButton status="success" size="small" (click)="revalidateInvoice()" [nbSpinner]="loading"
                        class="float-right puff_center ml-1 mr-1" [disabled]="loading" nbSpinnerStatus="success"
                        *ngIf="factura.statusFactura.indexOf('Rechazo') === 0" nbSpinnerSize="small"
                        nbSpinnerMessage="">
                        revalidar Factura<i class="fa fa-check" style="margin-left: 10px"></i>
                    </button>
                    <button type="button" class="btn btn-sm btn-outline-primary float-right ml-1 mr-1"
                        (click)="downloadPdf(factura.folio)">
                        <i class="fa fa-file-pdf"></i>
                    </button>
                    <button type="button" *ngIf="factura.statusFactura == 'Timbrada'"
                        class="btn btn-sm btn-outline-primary float-right ml-1 mr-1"
                        (click)="downloadXml(factura.folio)">
                        <i class="fa fa-code"></i>
                    </button>

                    <button type="button" *ngIf="factura.idCfdiRelacionado"
                        class="btn btn-sm btn-outline-success float-right ml-1 mr-1"
                        (click)="goToRelacionado(factura.idCfdiRelacionado)">
                        <i class="fa fa-link"></i>
                    </button>
                    <button type="button" *ngIf="factura.idCfdiRelacionadoPadre"
                        class="btn btn-sm btn-outline-success float-right ml-1 mr-1" (click)="
                            returnToSourceFact(factura.idCfdiRelacionadoPadre)
                        ">
                        <i class="fa fa-arrow-left"></i>
                    </button>
                    <span class="badge badge-secondary ml-1 mr-1 float-right" *ngIf="factura.cfdi.id">
                        <strong *ngIf="factura.cfdi.relacionado">CFDI RELACIONADO :
                            {{ factura.cfdi.relacionado.relacion }}</strong>
                    </span-->
                </div>
            </nb-card-header>
            <nb-card-body>
                <div *ngIf="folio === '*' && !factura.folio">
                    <p class="font-weight-bold">
                        Información Emisor y Receptor
                    </p>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="inputGiro" class="label">Giro Empresa</label>
                                <select id="inputGiro" fullWidth class="form-control" (change)="
                                        onGiroSelection($event.target.value)
                                    " style="display: block" [(ngModel)]="formInfo.giro">
                                    <option value="*">Seleccionar</option>
                                    <option *ngFor="let giro of girosCat" [(value)]="giro.id">
                                        {{ giro.nombre }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="inputEmpresa" class="label">Empresa</label>
                            <select id="inputEmpresa" class="form-control" (change)="
                                    onCompanySelected($event.target.value)
                                " [(ngModel)]="formInfo.empresa" style="display: block" fullWidth
                                [disabled]="companiesCat.length === 0">
                                <option value="*">Seleccionar</option>
                                <option *ngFor="let company of companiesCat" [(value)]="company.id">
                                    {{ company.rfc }}-{{ company.razonSocial }}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="inputCliente" class="label">Nombre o razon social del cliente</label>
                            <ng-autocomplete [data]="clientsCat" [searchKeyword]="'razonSocial'"
                                placeholder="Escribe el nombre o razon social del cliente"
                                (selected)="onClientSelected($event)"
                                [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
                            </ng-autocomplete>

                            <div>
                                <span></span>
                            </div>

                            <ng-template #itemTemplate let-item>
                                <div class="item">
                                    <span [innerHTML]="item.razonSocial"></span>
                                </div>
                            </ng-template>

                            <ng-template #notFoundTemplate let-notFound>
                                <span>No hay coincidencias</span>
                            </ng-template>
                        </div>
                    </div>
                </div>

                <nt-cfdi [allowEdit]="
            factura?.tipoDocumento !== 'Complemento' &&
            (factura?.folio === undefined ||
              factura?.statusFactura == 1 ||
              factura?.statusFactura == 2)">
                </nt-cfdi>

                <div class="row" *ngIf="
                        factura?.cfdi &&
                        factura?.statusDetail &&
                        factura?.statusDetail.length > 0
                    ">
                    <div class="col-sm-12">
                        <label for="inputdesc" class="label">Descripción Rechazo CFDI</label>
                        <div class="alert alert-danger" role="alert">
                            {{ factura.statusDetail }}
                        </div>
                    </div>
                </div>

                <br />

                <div class="row" *ngIf="!factura?.folio && factura?.cfdi.total > 0">
                    <button nbButton status="success" size="medium" (click)="solicitarCfdi()" [nbSpinner]="loading"
                        [disabled]="loading" nbSpinnerStatus="success" nbSpinnerSize="small" nbSpinnerMessage="">
                        SOLICITAR CFDI
                    </button>
                    <!--button type="button" class="btn btn-info" (click)="limpiarForma()">LIMPIAR</button-->
                </div>
                <br />

                <ngx-pago-factura *ngIf="
            factura?.folio != undefined &&
            factura?.statusFactura != '6' &&
            factura?.statusFactura != '7'
          "></ngx-pago-factura>
            </nb-card-body>
        </nb-card>
    </div>
</div>