<nb-card>
    <nb-card-header>
        <div class="clearfix">
            <p class="h6 float-left">Nuevo Registro</p>
        </div>

    </nb-card-header>
    <br>
    <nb-card-body>
        <div style="width: 30vw; ">
            <!-- <p class="font-weight-bold">Paso 1 Cargar informacion de acredor y deudor</p> -->
            <div class="row">
                <div class="col-md-3">
                    <label for="Resumen" class="font-weight-bold">Resumen :</label>
                </div>
                <div class="col-md-9">
                    <div class="form-group">

                        <input type="text" [(ngModel)]="companyInfo.resuemen" class="form-control" fullWidth
                            id="Resumen" placeholder="Resumen">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <label for="Detalle" class="font-weight-bold">Detalle :</label>
                </div>
                <div class="col-md-9">
                    <div class="form-group">

                        <input type="text" [(ngModel)]="companyInfo.detalle" class="form-control" fullWidth id="Detalle"
                            placeholder="Detalle">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-success float-right" type="button" (click)="exit()">Crear</button>
                </div>
            </div>

        </div>
    </nb-card-body>
    <nb-card-footer>
        <button class="btn btn-warning" (click)="exit()">Salir</button>
    </nb-card-footer>
</nb-card>