<nb-layout windowMode>
    <nb-layout-header fixed>
        <div class="header-container">
            <div class="logo-container">
                <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
                    <nb-icon icon="menu-2-outline"></nb-icon>
                </a>
                <a class="logo" href="#" (click)="navigateHome()"><span>ADMINISTRADOR DE FACTURAS</span></a>
            </div>
        </div>

        <div class="header-container clearfix">
            <!--nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary" class="float-right">
          <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
        </nb-select-->
            <button class="btn btn-warning float-right" (click)="logout()">
                Salir
            </button>
            <nb-actions size="small" class="float-right">
                <nb-action class="user-action">
                    <nb-user shape="rectangle" [name]="user?.name" [picture]="user?.urlPicture" title="Usuario">
                    </nb-user>
                </nb-action>
            </nb-actions>
            
            <button nbButton status="warning" [nbPopover]="alerts" nbPopoverPlacement="bottom">Alerts</button>
            
        </div>
    </nb-layout-header>

    <nb-sidebar class="menu-sidebar" tag="menu-sidebar" responsive>
        <ng-content select="nb-menu"></ng-content>
    </nb-sidebar>


    <nb-layout-column>
        <ng-content select="router-outlet"></ng-content>
    </nb-layout-column>

    <nb-layout-footer fixed>
        <span class="created-by">
            Desarrollado por
            <b><a href="" target="_blank">CYBORD</a></b>
            &copy; 2022. Todos los derechos reservados. V 4.0.0
        </span>
    </nb-layout-footer>
</nb-layout>

<div class="row">
    <div class="col-lg-6">
        <ng-template #alerts>
            <div class="p-4">
                <form>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Recipients">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Subject">
                  </div>
                  <div class="form-group">
                    <textarea class="form-control" placeholder="Message"></textarea>
                  </div>
                  <button type="submit" class="btn btn-primary w-100">Send</button>
                </form>
              </div>
        </ng-template>
    </div>
</div>



