<div class="row">
    <div class="col-md-12">
        <nb-card [nbSpinner]="loading" nbSpinnerStatus="info" nbSpinnerSize="giant">
            <nb-card-header>
                <div class="clearfix">
                    <strong class="float-left">
                        <h6>Solicitud de soporte</h6>
                    </strong>
                    <div class="ml-2 mr-2 float-right" *ngIf="folio!=='*'">
                        <h6 class="d-inline p-2">
                            Folio : {{folio}}
                        </h6>
                    </div>
                </div>

            </nb-card-header>
            <nb-card-body>

                <div class="row">
                    <div class="col-sm-6 col-md-9 mb-3">
                        <div class="clearfix" *ngIf="folio !== '*'">
                            <h6>
                                <span class="badge badge-warning float-right"
                                    *ngIf="status.value === 'PENDIENTE'">{{status.value}}</span>
                                <span class="badge badge-primary float-right"
                                    *ngIf="status.value === 'INICIADO'">{{status.value}}</span>
                                <span class="badge badge-primary float-right"
                                    *ngIf="status.value === 'EN PROGRESO'">{{status.value}}</span>
                                <span class="badge badge-success float-right"
                                    *ngIf="status.value === 'TERMINADO'">{{status.value}}</span>
                            </h6>

                        </div>
                        <form [formGroup]="supportForm" class="needs-validation" novalidate="" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="contactname" class="label col-form-label">Nombre de contacto</label>
                                    <input type="text" class="form-control text-uppercase" id="contactname"
                                        [attr.disabled]="(folio !== '*')?true:null" placeholder="Su nombre"
                                        formControlName="contactName" name="contactname">
                                    <ng-container *ngIf="contactName.invalid">
                                        <small class="form-text text-danger" *ngIf="contactName.errors?.required">
                                            ¡Campo Requerido!
                                        </small>
                                        <small class="form-text text-danger" *ngIf="contactName.errors?.maxlength">
                                            El campo excede el numero máximo de caracteres permitidos
                                        </small>
                                        <small class="form-text text-danger" *ngIf="contactName.errors?.pattern">
                                            El nombre contiene algun caracter invalido
                                        </small>
                                    </ng-container>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="contactEmail" class="label col-form-label">Email contacto</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">@</span>
                                        </div>
                                        <input type="text" class="form-control" id="contactEmail" [attr.disabled]="true"
                                            placeholder="Email del cliente" formControlName="contactEmail"
                                            name="contactemail" name="contactEmail">
                                        <ng-container *ngIf="contactEmail.invalid">
                                            <small class="form-text text-danger" *ngIf="contactEmail.errors?.required">
                                                ¡Campo Requerido!
                                            </small>
                                            <small class="form-text text-danger" *ngIf="contactEmail.errors?.email">
                                                Se require de un correo valido
                                            </small>
                                        </ng-container>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="contactPhone" class="label col-form-label">Tel&eacute;fono de
                                        contacto</label>
                                    <input type="text" class="form-control" id="contactPhone"
                                        [attr.disabled]="(folio !== '*')?true:null"
                                        placeholder="Tel&eacute;fono de contacto" formControlName="contactPhone"
                                        name="contactPhone">
                                    <ng-container *ngIf="contactPhone.invalid">
                                        <small class="form-text text-danger" *ngIf="contactPhone.errors?.required">
                                            ¡Campo Requerido!
                                        </small>
                                        <small class="form-text text-danger" *ngIf="contactPhone.errors?.pattern">
                                            El telefono no es valido
                                        </small>
                                    </ng-container>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="product" class="label col-form-label">Problema a reportar</label>
                                    <select class="custom-select d-block w-100" id="product" name="product"
                                        [attr.disabled]="(folio !== '*')?true:null" formControlName="notes">
                                        <option value="*">SELECCIONAR</option>
                                        <option value="NO PERMITE TIMBRAR">NO PERMITE TIMBRAR</option>
                                        <option value="CARGA DE SELLOS">CARGA DE SELLOS</option>
                                        <option value="ESTATUS FACTURA INVALIDO">ESTATUS FACTURA INVALIDO</option>
                                        <option value="INCOSISTENCIAS EN EL CFDI">INCOSISTENCIAS EN EL CFDI</option>
                                        <option value="EL PDF TIENE INCOSISTENCIAS">EL PDF TIENE INCOSISTENCIAS</option>
                                        <option value="NO ME PERMITE CANCELAR">NO ME PERMITE CANCELAR</option>
                                        <option value="FACTURA/COMPLEMENTO DOLARES">FACTURA/COMPLEMENTO DOLARES</option>
                                        <option value="NO ENVIA CORREO">NO ENVIA CORREO</option>
                                        <option value="OTRO">OTRO</option>
                                    </select>
                                    <ng-container *ngIf="notes.invalid">
                                        <small class="form-text text-danger" *ngIf="notes.errors?.minlength">
                                            ¡Campo Requerido!
                                        </small>
                                    </ng-container>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 mb-3">
                                    <label for="problem" class="label col-form-label">Describe el problema</label>
                                    <textarea type="text" class="form-control" id="problem"
                                        [attr.disabled]="(folio !== '*')?true:null"
                                        placeholder="Descripción detallada del problema, colocar datos de referencia RFC, folio, etc"
                                        rows="5" formControlName="problem" name="problem"></textarea>
                                    <ng-container *ngIf="problem.invalid">
                                        <small class="form-text text-danger" *ngIf="problem.errors?.required">
                                            ¡Campo Requerido!
                                        </small>
                                        <small class="form-text text-danger" *ngIf="problem.errors?.minlength">
                                            Se require de una descripcion mas detallada
                                        </small>
                                    </ng-container>

                                </div>
                            </div>

                            <div class="row" *ngIf="folio !='*'">
                                <div class="col-md-12 mb-3">
                                    <label for="solution" class="label col-form-label">solucion del problema</label>
                                    <textarea type="text" class="form-control" id="solution" [attr.disabled]="true"
                                        rows="5" formControlName="solution" name="solution"></textarea>
                                </div>
                            </div>
                            <div class="row" *ngIf="folio !='*'">
                                <div class="col-md-6 mb-3">
                                    <label for="agent" class="label col-form-label">Agente soporte</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="agent" [attr.disabled]="true"
                                            formControlName="agent" name="agent" name="agent">
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="dueDate" class="label col-form-label">Fecha limite</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="dueDate" [attr.disabled]="true"
                                            formControlName="dueDate" name="dueDate" name="dueDate">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12" *ngIf="folio === '*'">
                                    <label for="documentFile" class="label">Captura pantalla o evidencia del
                                        problema</label>
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="documentFile"
                                                accept=".pdf,.doc, .docx,image/*"
                                                (change)="fileDataUploadListener($event)" style="display:block;"
                                                aria-describedby="inputDocFile">
                                            <label class="custom-file-label" style="background-color: #f7f9fc;"
                                                for="documentFile">{{dataFile?.fileName}}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12" *ngIf="dataFile && folio!='*'">
                                    <button class="btn d-inline mt-2 ml-2 mr-2" type="button"
                                        [ngClass]="{'btn-outline-primary': dataFile!= undefined && dataFile.id != undefined, 'btn-outline-secondary': !dataFile || dataFile.id ==undefined}"
                                        (click)="downloadFile()" [disabled]="!dataFile || dataFile.id ==undefined">
                                        <i class="fa fa-download"></i></button>
                                </div>
                            </div>
                            <br>
                            <div class="clearfix">
                                <button type="submit" *ngIf="folio === '*'" [disabled]="loading  || supportForm.invalid"
                                    nbButton status="primary">
                                    ENVIAR
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-6 col-md-3 mb-3">
                        <strong class="d-flex justify-content-between align-items-center mb-3">
                            <span class="text-muted">¿Ya cuentas con un ticket?</span>
                        </strong>
                        <div class="row">

                            <div class="col-sm-10 input-group">
                                <input type="text" class="form-control" placeholder="Folio Ticket"
                                    [(ngModel)]="folioBusqueda" name="folioBusqueda">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-primary" (click)="findTicket()">Buscar</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>