<div *ngIf="emisor">
  <p class="font-weight-bold">Información del Emisor</p>
  <div class="row">
    <div class="col-sm-5">
      <label for="rfcEmisor" class="label">RFC Emisor</label>
      <input
        id="rfcEmisor"
        class="form-control"
        type="text"
        [(ngModel)]="emisor.rfc"
        fullWidth
        placeholder="Rfc"
        disabled
      />
    </div>
    <div class="col-sm-7">
      <label for="nombreEmisor" class="label">Nombre Emisor</label>
      <input
        id="nombreEmisor"
        type="text"
        [(ngModel)]="emisor.nombre"
        class="form-control"
        fullWidth
        placeholder="Nombre"
        disabled
      />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <label for="direccioneEmisor" class="label">Direccion Emisor</label>
      <textarea
        id="direccioneEmisor"
        type="text"
        style="margin-top: 0px; margin-bottom: 0px; height: 38px"
        [(ngModel)]="direccion"
        placeholder="Direccion Emisor"
        class="form-control"
        disabled
      ></textarea>
    </div>
  </div>
</div>
