<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header
                ><h4 class="text-danger">!AVISO URGENTE¡</h4></nb-card-header
            >
            <nb-card-body>
                <p>
                    A PARTIR DEL 1 DE JUNIO DEL 2022, ESTARÁ DISPONIBLE LA
                    VERSIÓN 4.0 UNICAMENTE PARA ACTUALIZACIÓN DE DATOS DE
                    CLIENTES, EN SU VERSIÓN DE “PRELIMINAR” (ENLACE QUE SERÁ
                    ENVIADA POR CORREO Y QUE SE ACCEDE DE LA MISMA MANERA QUE LA
                    VERSIÓN ACTUAL, 3.3).  LES SOLICITAMOS INGRESAR A LA LIGA DE
                    ESTA
                    <a href="https://v04.inv-manager.net">VERSIÓN 4.0</a>
                    PARA PODER ACTUALIZAR LOS DATOS DE SUS CLIENTES, DE ACUERDO
                    A LOS NUEVOS REQUERIMIENTOS DE LA AUTORIDAD.
                </p>
                <p>
                    FAVOR DE CONTACTAR AL AREA DE OPERACIÓN EN CASO DE DUDAS.
                    ¡MUCHAS GRACIAS POR SU AYUDA Y COMPRENSIÓN!
                </p>

                <p>
                    <strong class="text-danger"
                        >RECORDÁNDOLES QUE SI LOS DATOS NO ESTÁN DE ACUERDO A LA
                        CONSTANCIA DE SITUACIÓN FISCAL, NO PODRÁN TIMBRARSE LOS
                        DOCUMENTOS SOLICITADOS (EL ENLACE DEL SAT, LO REBOTARÁ
                        EN AUTOMÁTICO).</strong
                    >
                    LA VERSIÓN ACTUAL (3.3) SEGUIRÁ EN FUNCIÓN PARA
                    FACTURACIÓN HASTA EL DIA 30 DE JUNIO DEL 2022;
                    <strong class="text-danger"
                        >EL DÍA 1 DE JULIO DEL 2022, ENTRA EN VIGOR, SIN VUELTA
                        ATRÁS,  <a href="https://v04.inv-manager.net"
                            >VERSIÓN 4.0</a
                        >
                        PARA FACTURACIÓN.
                    </strong>
                </p>
                <p>
                    PARA ACTUALIZAR LA INFORMACIÓN, ENTRE AL NUEVO PORTAL
                    <a href="https://v04.inv-manager.net"
                        >https://v04.inv-manager.net</a
                    >
                    DIRIJASE A LA SECCION DE CLIENTES, CARGE LA CONSTANCIA DE
                    SITUACION FISCAL Y VERIFIQUE QUE EL REGIMEN FISCAL Y EL
                    CODIGO POSTAL DE SU CLIENTE COINCIDAN CON LOS QUE SE TIENEN
                    EN LA CONSTANCIA.
                </p>
            </nb-card-body>
        </nb-card>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>Preguntas y respuestas</nb-card-header>
            <nb-card-body>
                <div class="row">
                    <div class="col-md-6">
                        <strong>
                            ¿Por que debo de actualizar los datos de mis
                            clientes?</strong
                        >
                        <p>
                            Este es un requerimiento del SAT, y actualemente el
                            sistema 3.3 no cuenta con los datos del regimen
                            fiscal de los clientes
                        </p>
                        <strong>
                            ¿Que datos debo de actualizar a mis
                            clientes?</strong
                        >
                        <p>
                            Es necesario actualice el regimen Fiscal de sus
                            clientes, solicitar y cargar la constancia de
                            situacion fiscal al sistema.
                        </p>
                        <p>
                            El area de operaciones no require ser notificada,
                            usted puede hacerlo por su cuenta.
                        </p>
                        <strong>
                            ¿Donde puedo encontrar el regimen fiscal de mi
                            cliente?</strong
                        >
                        <p>
                            Esta información la puede obtener de la constancia
                            de situacion fiscal
                        </p>
                        <strong>
                            ¿Por que no puedo actualizar a mis clientes en la
                            version 3.3?</strong
                        >
                        <p>
                            El portal 3.3 sera dehabilitado el 1° de julio y no
                            es compatible con CFDI 4.0
                        </p>
                        <strong>
                            ¿Si actualizo mis datos en la version 4, tengo que
                            actualizarlos en la version 3.3?</strong
                        >
                        <p>
                            No es necesario, el sistema 4.0 actualiza la
                            informacion de sus clientes en el portal 3.3 y 3l
                            portal 4.0
                        </p>
                        <strong>
                            ¿Puedo solicitar facturas en la version 4?</strong
                        >
                        <p>
                            Por el momento aun no, si usted require una factura
                            en CFDI 4.0 llame al area de operaciones
                        </p>
                        <strong
                            >¿Cuando estará completamente operativo el portal
                            4?</strong
                        >
                        <p>A partir del 1° de Julio</p>
                        <strong
                            >¿Que pasara con todas mis facturas de version
                            3.3?</strong
                        >
                        <p>
                            A partir del 4 de julio estaran disponibles, en el
                            nuevo sistema, pues durante el mes de Junio
                            estaremos migrando toda la información del portal
                            3.3 al portal 4.0
                        </p>
                    </div>
                    <div class="col-md-6">
                        <strong>
                            ¿Como identifico las versiones de portales?
                        </strong>
                        <div class="row">
                            <img
                                src="/assets/images/portal33.png"
                                style="width: 100%"
                                alt="portal33"
                            />
                        </div>
                        <div class="row">
                            <img
                                src="/assets/images/portal40.png"
                                style="width: 100%"
                                alt="portal40"
                            />
                        </div>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>
